
### CodeIgniter ###
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

### FUEL CMS ###
*/fuel/application/config/config.php
*/fuel/application/config/MY_fuel.php
*/fuel/application/config/database.php
.htaccess