@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/OpenSans/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/OpenSans/OpenSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf);
}